<%# <%if @medicinas.present?%> 
<%= link_to current_user.name, edit_user_path(current_user) %>
<% @medicinas.each do |medicina| %>
<table border="1" id="medicinaTable">

  <tr>
    <th>利用者名</th>
    <td><%= medicina.medicina1 %></td>
    <th>薬の有無</th>
    <td><%= medicina.medicina2 %></td>
    <th>備考（薬の変更等）</th>
    <td><%= medicina.medicina3 %></td>
  </tr>

  <tr>
    <th>利用者名</th>
    <td><%= medicina.medicina4 %></td>
    <th>薬の有無</th>
    <td><%= medicina.medicina5 %></td>
    <th>備考（薬の変更等）</th>
    <td><%= medicina.medicina6 %></td>
  </tr>

  <tr>
    <th>利用者名</th>
    <td><%= medicina.medicina7 %></td>
    <th>薬の有無</th>
    <td><%= medicina.medicina8 %></td>
    <th>備考（薬の変更等）</th>
    <td><%= medicina.medicina9 %></td>
  </tr>
  <%# <% end %> 
</table>
<% end %>

<a href="/medicinas/new">
  <div class='purchase-btn'>
    <span class='purchase-btn-text'>入力する</span>
  </div>
</a>

<div class="more">
    <ul class="more_list">
      <li>
        <%= link_to '削除', medicina_path(medicina.id), method: :destroy %>
      </li>
    </ul>
</div>